/*body elements*/
.meas_container{
    background-color: rgba(300, 34, 202, 0.5);
    min-width: 60px;
    margin: 5px;
}
.row{
    font-size: 30px;
    width:100%;
}

.title{
    font-size: 14px;
}

.typingIcon{
    height: 50px;
    align-self: center;
    overflow: hidden;
}

.change{
    height: 25px;
    font-size: 16px;
}

#content{
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    font-size: 30px;
    overflow: hidden;
    padding: 0 5px;
    line-height: 40px;

}
#input{
    background-color: rgba(239, 37, 188, 0.3);
    font-size: 30px;
    width: 100%;
    padding: 10px;
    color: rgb(1, 266, 182);
}
.refresh{
    margin-top: 20px;
    opacity: 0.5;
}

.btn-primary{
    background: rgba(236, 34, 202, 0.5);
}

.btn-primary:focus,.btn-primary:active,.btn-primary:hover{
    background: rgba(236, 34, 202, 1);
}

.scoreDown,.scoreUp{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.scoreDown{
    background: mediumvioletred;
}

.scoreUp{
    background: greenyellow;
    color: black;
}

.modal{
    color:black;
}
.activeWord{
    background-color: greenyellow;
    border-radius: 5px;
}

.correctCharacter{
    color: mediumseagreen;
}
.wrongCharacter{
    color: mediumvioletred;
}
.result{
    font-size: 20px;
}
