<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Typing Test App</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static "css/styling.css"%}">
    <style media="screen">
    body{
        background: url("{%static "images/aurora.jpg" %}") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
    }
    .keyboard{
        min-height: 200px;
        max-height: 300px;
        background: url("{%static "images/keyboard-629234.png"%}") no-repeat center center;
        background-size: contain;
        margin-top: 10px;
    }
    </style>

  </head>
  <body>
      <div class="container-fluid">
        <div class="text-center">
          <header>
            <h1>Typing Test</h1>
            </header>
            <div class="row">

                <!--Word per minute block start-->
                <div class="col-3 measurement">
                    <div class="meas_container">
                        <div class="typingIcon">
                            <img src="{% static "images/speed.png" %}" width="60">
                        </div>
                        <div id="wpm" class="value">
                            <span>0</span>
                        </div>
                        <div class="title">
                            <span>WPM</span>
                        </div>
                    </div>
                    <div class="change">
                        <span id="wpmchange"></span>
                    </div>

                </div>
                <!--Word per minute block end-->

                <!--Click per minute block start-->
                <div class="col-3 measurement">
                    <div class="meas_container">
                        <div class="typingIcon">
                            <img src="{% static "images/character.png" %}" width="40">
                        </div>
                        <div id="cpm" class="value">
                            <span>0</span>
                        </div>
                        <div class="title">
                            <span>CPM</span>
                        </div>
                    </div>
                    <div class="change">
                        <span id="cpmchange"></span>
                    </div>

                </div>
                <!--Click per minute block end-->

                <!--Accuracy block start-->
                <div class="col-3 measurement">
                    <div class="meas_container">
                        <div class="typingIcon">
                            <img src="{% static "images/accuracy.png" %}" width="40">
                        </div>
                        <div id="accuracy" class="value">
                            <span>0%</span>
                        </div>
                        <div class="title">
                            <span>Accuracy</span>
                        </div>
                    </div>
                    <div class="change">
                        <span id="accuracychange"></span>
                    </div>

                </div>
                <!--Accuracy per minute block end-->


                <!--Time Left block start-->
                <div class="col-3 measurement">
                    <div class="meas_container">
                        <div class="typingIcon">
                            <img src="{% static "images/stopwatch.png" %}" width="40">
                        </div>
                        <div id="timeLeft" class="value">
                            <span>60</span>
                        </div>
                        <div class="title">
                            <span>Time left</span>
                        </div>
                    </div>
                </div>
                <!--Time Left per minute block end-->

            </div>
            <!--TestWords-->
            <div id="content" class="text-center">
            word word word wordword word word wordword word word word
            word word word word word word word word word word word word
            word word word word word word word wordword word word word
            word word word word word word word word word word word word
            word word word wordword word word wordword word word word
            word word word word word word word word word word word word
            word word word word word word word wordword word word word
            word word word word word word word word word word word word
            </div>
            <!--TestWords Ends here-->

            <!--User Input -->
            <div>
                <input type = "text" placeholder="type here" class = "text-center" id = "input">

            </div>

            <!--user Input Ends-->

            <!--Keyboard-->
            <div class="keyboard"></div>
            <!--Keyboard Ends-->

            <!--Refresh-->
            <div class = "refresh">
            <button type = "button" class="btn btn-primary btn-lg"
            onclick = "location.reload()">Refresh</button>

            </div>
            <!--Refresh  Ends-->

            <!--Modal-->

            <div id = "mymodal" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">You finished your Test!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                       <label for="name" class = "sr-only">Enter your name:
                       </label>
                       <input type="text" class="form-control" id="name" placeholder = "Your full name" />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id = "download" type="button" class="btn btn-info">Download your certificate</button>
                  </div>
                </div>
              </div>
            </div>

            <!--Modal Ends-->

        </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/dataModule.js" %}"></script>
    <script type="text/javascript" src="{% static "js/UIModule.js" %}"></script>
    <script type="text/javascript" src="{% static "js/certificateModule.js" %}"></script>
    <script type="text/javascript" src="{% static "js/wordsModule.js" %}"></script>
    <script type="text/javascript" src="{% static "js/eventsModule.js" %}"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script type="text/javascript">
      var duration = prompt("Enter tha duration:")
      eventsModule.init(duration, 2);
      dataModule.returnData();
    </script>
  </body>
</html>
